{% extends 'dashboard/base_dashboard.html' %}

{% block title %}Crear categoría - Niky's Coffee Hub{% endblock %}
{% block header_title %}Crear categoría{% endblock %}

{% block content %}

<div class="form-container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre de la categoría</label>
            <input type="text" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary btn-large">Crear</button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}
